<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <nlog autoReload="true" internalLogLevel="off" internalLogFile="logs/internalLog.txt">
    <targets>
      <target name="default" type="File" fileName="logs/${shortdate}.log" 
              layout="[${longdate}] [${level}] ${message}"/>      
    </targets>
    <rules>
      <logger name="default" minlevel="Debug" maxlevel="Error" writeTo="default" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>