<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Menu" type="System.Work.Config.MenuConfig.MenuSection, System.Work.Config.MenuConfig, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <Menu>
    <Items>
      <Item Name="system" DisplayName="系统" IconPath="" DisplayType="None" SourceType="">
        <Items>
          <Item Name="openProject" DisplayName="打开工程" IconPath="" DisplayType="Func" SourceType="" />
          <Item Name="newProject" DisplayName="新建工程" IconPath="" DisplayType="Func" SourceType="" />
          
          <Item Name="partition" DisplayName="" IconPath="" DisplayType="partition" SourceType="" />
          
          <Item Name="saveProject" DisplayName="保存工程" IconPath="" DisplayType="Func" SourceType="" />
          <Item Name="saveAsProject" DisplayName="另存工程" IconPath="" DisplayType="Func" SourceType="" />
          
          <Item Name="partition" DisplayName="" IconPath="" DisplayType="partition" SourceType="" />
          
          <Item Name="exitSystem" DisplayName="退出" IconPath="" DisplayType="Func" SourceType="" />
        </Items>
      </Item>
    </Items>
  </Menu>
</configuration>