<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="txt" xsi:type="File"
        layout="${longdate} [${level:padding=-5}] -> ${message}"
        fileName="${basedir}/Log/${shortdate}/recoder_${date:format=HH}.txt"
        keepFileOpen="false" >
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="txt" />
  </rules>


  <!--<targets>
    <target name="csv" xsi:type="File" fileName="${basedir}/Log/${shortdate}/recoder.csv">
      <layout xsi:type="CSVLayout">
        <column name="时间" layout="${longdate}" />
        <column name="等级" layout="${level}"/>
        <column name="内容" layout="${message}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="csv" />
  </rules>-->

</nlog>